.tasks-app {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -10%);
    width: 500px;
    max-width: 500px;
    min-height: 80vh;
    background-color: aquamarine;
    padding: 5px;
} 